{% extends "base/base.html" %}

{% block content %}

<div class="About_us">
    <div class="butterfly">
        <h2>About Us</h2>
        <img src="https://gifdb.com/images/high/blue-monarch-butterfly-sticker-qm1j6342t084dtbg.gif">

    </div>
   
</div> 

<div class="Para_blog">
    <p>
        “Skincare” is an exclusive beauty operating in Nepal, specializing in the import, distribution, and  other country cosmetics , skincare brands. Here is an overview of Skincare’s identity, vision values, and commitment:
Who We Are: Skincare is the exclusive importer, distributor, and retailer for leading American Korea and  European beauty brands in Nepal. It is the sole Nepali business chain entirely dedicated to beauty products. Their product range includes makeup, skincare, masks, sunscreen, makeup and more. Skincare is authorized to offer products from over twenty foreign beauty brands.
Vision: To become the largest beauty and skincare brand in Nepal.
Mission: To harness the power of beauty to enhance the lives of their customers, all while inspiring and empowering people in all aspects of their lives.
Core Values:
Inclusivity: Skincare aims to create an inclusive beauty space for everyone to explore.
Bringing the Best Brands: Dedication to bringing the best Western brands to the Nepalese market.
Customer Satisfaction: A strong focus on customer satisfaction, offering an exceptional experience about products.
Promoting Genuine Products: Advocacy for using genuine beauty products and raising awareness about their importance.
Commitment: Skincare is dedicated to offering the best in beauty by providing an exclusive experience with top brands, excellent service, and beauty expertise in a unique store environment. They emphasize the authenticity of their products, assuring customers that they do not accept counterfeit items. All their inventory comes directly from the brand or authorized distributors, reinforcing their commitment to genuine cosmetic products. Skincare also places equal importance on skincare items and prioritizes customer needs and satisfaction in their online platform.

    </p>
</div>

{% endblock content %}
